@import "materialize";   //// import Materialize styling first
// @import "*";           //// import all other .css files

//// custom styling goes next

.navbar-color {
  background: #78909C;
}

.navbar-color-dark {
  background: #607D8B;
}

.side-nav li > a {
  color: #039BE5;
}

.invisible {
  visibility: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
}

.notice {
  color: #018312;
}

.error {
  color: #9c0900;
}

.green-text {
  color: green;
}

.red-text {
  color: red;
}

.red-button {
  color: black;
  background: red;
}
